
body{
  background-image: url("bg.jpg");
  background-size: cover;
  text-align: center;
  align-content: center;
  margin-top: 20px ;


}
p{
  font-size: 40px;
  color: white;
  font-weight: bold;
  /*font-style: italic;*/
  font-family: sans-serif;
}

button{
  color: green;
  background-color: white;
  margin-top: : 50px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 30px;
  text-decoration:none;
  letter-spacing:1px;
}
button:hover{
  background-color: gold;
}
#image{
  height:30vh;
  width: 50vh;
  margin-bottom: 52px;

}
